.enunciado {
    display: flex;
}

.texto {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .texto {
        font-size: 1.5rem;
        font-weight: 500;
        flex: 1;
    }
}